body{
  background-color: lightgrey;
}

::-webkit-scrollbar-thumb{
}

button:focus{
  -webkit-appearance: none;
  border:none;
  outline: none;
}

button:active{
  -webkit-appearance: none;
}

input[type=range]{
    -webkit-appearance: none;
    /*width:100%;*/
    height:30px;
    display: block;
    box-sizing: border-box;
    border: none;
}

input[type=range]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  background-color: pink;
  height:4px;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: red;
    border : white solid 4px;
    box-sizing: border-box;
    margin-top: -8px;
}

input[type=range]:focus {
    outline: none;
}


input[type=range]:focus::-webkit-slider-runnable-track {
    background: pink;
}

input[type=number]{
    -webkit-appearance: none;
    display: block;
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 4px;
    background: white;
    width: 45px;
    height: 30px;
    padding:0;
    margin:0;
    color: red;
    text-align: center;
    line-height: 28px;
    boxSizing: border-box;
    font-family: monospace;
}

input[type=number]:focus {
    outline: none;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    opacity: 1;
    cursor:pointer;
    display:block;
    width:15px;
    height:28px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background:red;
    text-align:center;
    position:relative;
    margin:0;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
    position:absolute;
    right:0;
    font-family: monospace;
    background: rgba(255,255,255,0.9);
    border: 'none',
    color : 'red',
    boxSizing: border-box;
}

input[type=number]::-webkit-inner-spin-button:before {
    border-top-right-radius: 4px;
    width: 14px;
    height: 13.5px;
    line-height: 13px;
    content: "+";
    top:0px;
}

input[type=number]::-webkit-inner-spin-button:after {
    border-bottom-right-radius: 4px;
    width: 14px;
    height: 13.5px;
    content: "-";
    bottom:0px;
    line-height: 12px;
}

/*input hell*/

input[type=checkbox]:focus {
    -webkit-appearance:none;
    outline: none;
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
    -webkit-appearance:none;
    width: 45px;
    height: 20px;
    margin-top: 5px;
    border-radius: 10px;
    border:1px solid red;
    box-sizing: border-box;
}

.switch{
    box-sizing: border-box;
    background: rgba(255,0,0,0.1);
}
.switch:checked{
    box-sizing: border-box;
    background: rgba(255,0,0,0.1);
    padding-left:25px;
}

.switch:before {
    content: '';
    padding: 0px;margin-top:-1px;margin-left:-1px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    border: 1px solid red;
    box-sizing: border-box;
}

